@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-bg-light: #ffffff;
  --app-bg-dark: #262626;
  --icon-bg-light: #f5f5f5;
  --icon-bg-dark: #404040;
  --icon-border-light: #e5e5e5;
  --icon-border-dark: #525252;
}

body {
  background-color: var(--app-bg-light);
}

.dark body {
  background-color: var(--app-bg-dark);
}

/* Custom scrollbar styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.animate-rotate {
  animation: rotate 6s linear infinite;
}

.animate-flip {
  animation: flip 6s linear infinite;
}

.mask-gradient {
  mask-image: linear-gradient(black, transparent 50%);
}

@media (prefers-color-scheme: dark) {
  .mask-gradient {
    mask-image: linear-gradient(white, transparent 50%);
  }
}

